button {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  border: none;
}

button {
  overflow: visible;
}

button {
  text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

.buttonWrapper {
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  padding: 14px 28px;
  position: relative;
}

.buttonInner {
  font-family: 'Maven Pro', sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.buttonInnerTextOnly {
  padding: 0;
}

.large {
  font-size: 18px;
}

.primary {
  background-color: #083572;
  border: solid #083572 1px;
  color: white;
}

.primary:hover:not(.disabled),
.primary:focus:not(.disabled) {
  background-color: #002b49;
}

.secondary {
  border: 1px solid #7d8ca1;
  color: #083572;
  background-color: white;
}

.secondary:hover:not(.disabled),
.secondary:focus:not(.disabled) {
  color: #002b49;
  border: solid #002b49 2px;
}

.secondaryGrey {
  background-color: white;
  border: 1px solid #8d96a9;
  color: #434d60;
}

.secondaryGrey:hover:not(.disabled),
.secondaryGrey:focus:not(.disabled) {
  background-color: #f3f4f6;
  border: 1px solid #8d96a9;
}

.primaryTextOnly {
  background-color: transparent;
  border: transparent;
  color: #083572;
}

.primaryTextOnly:hover:not(.disabled),
.primaryTextOnly:focus:not(.disabled) {
  color: #002b49;
}

.secondaryTextOnly {
  background-color: transparent;
  border: transparent;
  color: #5e687c;
}

.secondaryTextOnly:hover:not(.disabled),
.secondaryTextOnly:focus:not(.disabled) {
  color: #434d60;
}

.iconWrap {
  max-width: 20px;
  margin-left: 10px;
}

.iconWrapLeft {
  max-width: 20px;
  margin-right: 10px;
}

.success {
  background-color: #70c091;
  color: #22372b;
}

.success:hover:not(.disabled),
.success:focus:not(.disabled) {
  background-color: #61ab80;
}

.warning {
  background-color: #f1b435;
  color: #5d4511;
}

.warning:hover:not(.disabled),
.warning:focus:not(.disabled) {
  background-color: #d29912;
}

.danger {
  background-color: #f48279;
  color: #4a1f1c;
}

.danger:hover:not(.disabled),
.danger:focus:not(.disabled) {
  background-color: #fa6358;
}

.pending {
  pointer-events: none;
  color: transparent;
}

.spinnerWrap {
  position: absolute;
}

.altText {
  height: 1px;
  left: -900em;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}

.disabled {
  cursor: not-allowed;
}

.primary.disabled {
  background-color: #aab1bf;
  border: none;
  color: #222a39;
}

.secondaryGrey.disabled {
  color: #8d96a9;
  opacity: 0.6;
  background: white;
}

.textOnly {
  padding: 0;
}

.form {
  margin: 0;
  padding: 6px 16px;
}
